.input {
    width: 88%;
    margin: 8px auto;
    padding: 10px 15px;
    color: black;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
}

.error {
    margin: 3px auto 3px 10px;
    font-size: 13px;
    text-align: left;
    color: red;
}